<template>
	<MkStickyContainer>
		<template #header>
			<MkPageHeader
				v-model:tab="tab"
				:actions="headerActions"
				:tabs="headerTabs"
				:display-back-button="true"
			/>
		</template>
		<div>
			<MkInfo v-if="isMine && hasGallery" class="warning" :warn="true">
				<p>
					The Gallery feature has been deprecated. Please repost any
					Gallery posts you would like to keep as Blog posts. Thank
					you!
				</p>
				<MkButton
					v-tooltip="'Delete All'"
					class="button"
					@click="deleteAll()"
					><i class="ph-trash ph-bold"></i
					><span>I've kept all the content I needed. Delete all Gallery posts!</span>
				</MkButton>
			</MkInfo>
			<transition name="fade" mode="out-in">
				<div v-if="user">
					<XHome
						v-if="tab === 'home'"
						:user="user"
						@refresh="fetchUser()"
					/>
					<XReactions v-else-if="tab === 'reactions'" :user="user" />
					<XClips v-else-if="tab === 'clips'" :user="user" />
					<XPages v-else-if="tab === 'pages'" :user="user" />
					<XGallery v-else-if="tab === 'gallery'" :user="user" />
				</div>
				<MkError v-else-if="error" @retry="fetchUser()" />
				<MkLoading v-else />
			</transition>
		</div>
	</MkStickyContainer>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed, watch } from "vue";
import * as Acct from "iceshrimp-js/built/acct";
import type * as misskey from "iceshrimp-js";
import { acct as getAcct } from "@/filters/user";
import * as os from "@/os";
import { definePageMetadata } from "@/scripts/page-metadata";
import { i18n } from "@/i18n";
import { $i } from "@/account";
import MkInfo from "@/components/MkInfo.vue";
import MkButton from "@/components/MkButton.vue";

const XHome = defineAsyncComponent(() => import("./home.vue"));
const XReactions = defineAsyncComponent(() => import("./reactions.vue"));
const XClips = defineAsyncComponent(() => import("./clips.vue"));
const XPages = defineAsyncComponent(() => import("./pages.vue"));
const XGallery = defineAsyncComponent(() => import("./gallery.vue"));

const props = withDefaults(
	defineProps<{
		acct: string;
		page?: string;
	}>(),
	{
		page: "home",
	},
);

let tab = $ref(props.page);
let user = $ref<null | misskey.entities.UserDetailed>(null);
let error = $ref(null);
let isMine = $ref<boolean>(false);
let hasGallery = $ref<boolean>(false);

function fetchUser(): void {
	if (props.acct == null) return;
	user = null;
	os.api("users/show", Acct.parse(props.acct))
		.then((u) => {
			user = u;
			isMine = u.id === $i.id;
			if (isMine) checkGallery();
		})
		.catch((err) => {
			error = err;
		});
}

function deleteAll() {
	os.api("gallery/posts/delete", {}).then(() => {
		location.reload();
	});
}

function checkGallery() {
	os.api("users/gallery/posts", { limit: 1, userId: user.value.id }).then(
		(u) => {
			hasGallery = u.length > 0;
		},
	);
}

watch(() => props.acct, fetchUser, {
	immediate: true,
});

const headerActions = $computed(() => []);

const headerTabs = $computed(() =>
	user
		? [
				{
					key: "home",
					title: i18n.ts.overview,
					icon: "ph-user ph-bold ph-lg",
				},
				...(($i && $i.id === user.id) || user.publicReactions
					? [
							{
								key: "reactions",
								title: i18n.ts.reaction,
								icon: "ph-smiley ph-bold ph-lg",
							},
					  ]
					: []),
				...(user.instance == null
					? [
							{
								key: "clips",
								title: i18n.ts.clips,
								icon: "ph-bookmarks ph-bold ph-lg",
							},
							{
								key: "pages",
								title: i18n.ts.pages,
								icon: "ph-article ph-bold ph-lg",
							},
					  ]
					: []),
				...(hasGallery
					? [
							{
								key: "gallery",
								title: i18n.ts.gallery,
								icon: "ph-image-square ph-bold ph-lg",
							},
					  ]
					: []),
		  ]
		: null,
);

definePageMetadata(
	computed(() =>
		user
			? {
					icon: "ph-user ph-bold ph-lg",
					title: user.name
						? `${user.name} (@${user.username})`
						: `@${user.username}`,
					subtitle: `@${getAcct(user)}`,
					userName: user,
					avatar: user,
					path: `/@${user.username}`,
					share: {
						title: user.name,
					},
			  }
			: null,
	),
);
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.125s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.warning {
	margin: 24px 24px 0px 24px;
}
</style>
