main > .tabs {
	padding: 16px;
	border-bottom: 4px solid #908caa;
}
#lsEditor > .adder {
	margin: 16px;
	padding: 16px;
	border: 2px solid #908caa;
}
#lsEditor > .adder > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}
#lsEditor > .record {
	padding: 16px;
	border-bottom: 1px solid #908caa;
}
#lsEditor > .record > header {
	font-weight: 700;
}
#lsEditor > .record > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}

html {
	background: #191724;
}
main {
	background: #1f1d2e;
	border-radius: 10px;
}
#tl > div {
	padding: 16px;
	border-bottom: 1px solid #908caa;
}
#tl > div > header {
	font-weight: 700;
}

* {
	font-family: Roboto, HelveticaNeue, Arial, sans-serif;
}
#iceshrimp_app {
	display: none !important;
}
body,
html {
	background-color: #191724;
	color: #e0def4;
	justify-content: center;
	margin: auto;
	padding: 10px;
	text-align: center;
}
button {
	border-radius: 999px;
	padding: 0px 12px 0px 12px;
	border: none;
	cursor: pointer;
	margin-bottom: 12px;
	background: linear-gradient(-45deg, rgb(156, 207, 216), rgb(49, 116, 143));
	line-height: 50px;
	color: #191724;
	font-weight: bold;
	font-size: 20px;
	padding: 12px;
}
button {
	border-radius: 999px;
	padding: 0px 12px 0px 12px;
	border: none;
	cursor: pointer;
	margin-bottom: 12px;
}
button {
	background: #444;
	line-height: 40px;
	color: rgb(156, 207, 216);
	font-size: 16px;
  padding: 0 20px;
  margin-right: 5px;
  margin-left: 5px;
}
button:hover {
	background: #555;
}
#ls {
	background: linear-gradient(-45deg, rgb(156, 207, 216), rgb(49, 116, 143));
	line-height: 30px;
	color: #191724;
	font-weight: bold;
	font-size: 18px;
	padding: 12px;
}
#ls:hover {
	background: rgb(156, 207, 216);
}
a {
	color: rgb(156, 207, 216);
	text-decoration: none;
}
p,
li {
	font-size: 16px;
}

h1 {
	font-size: 32px;
}
code {
	font-family: Fira, FiraCode, monospace;
}
textarea {
	background-color: #444;
	border: solid #aaa;
	border-radius: 10px;
	color: #e0def4;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 20rem;
	height: 7.5rem;
	padding: 0.5rem;
}

textarea:focus {
	border: solid #eee;
}
input {
	background-color: #666;
	border: solid #aaa;
	border-radius: 10px;
	color: #e0def4;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 10rem;
	height: 1rem;
	padding: 0.5rem;
}

input:focus {
	border: solid #eee;
}
